@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #525252;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 1vw;
  letter-spacing: 0.02vw;
  line-height: 1.5vw;
}

body {
  background-image: url("../images/desktop-blob.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 10%;
}

#pitches {
  width: 60%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  position: relative;
}

@keyframes bounce {
  0% {
    bottom: 30%;
  }
  50% {
    bottom: 35%;
  }
  100% {
    bottom: 30%;
  }
}

#pitches .arrow {
  position: fixed;
  right: 50%;
  margin-right: -5%;
  bottom: 30%;
  animation: bounce 1s infinite;
}

#pitches .arrow svg {
  color: #ff4500;
  width: 3vw;
}

#pitches h2 {
  font-size: 1.5vw;
  width: 60%;
}

#pitches h2 span {
  color: #ff4500;
}

#pitches .pitch-div {
  width: 60%;
  margin-top: 5%;
}

#pitches .pitch-div .stats {
  margin-top: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#pitches .pitch-div .stats .likes,
#pitches .pitch-div .stats .dislikes {
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#pitches .pitch-div .stats .likes svg,
#pitches .pitch-div .stats .dislikes svg {
  color: #ff4500;
  width: 2vw;
}

#pitches .pitch-div .stats .likes span,
#pitches .pitch-div .stats .dislikes span {
  margin-left: 10%;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
}

#pitches .pitch-div hr {
  margin-top: 5%;
  width: 98%;
  height: 0.05vw;
  border: none;
  outline: none;
  background-color: #dbdbdb;
}

#pitches p.cta {
  width: 60%;
  margin-top: 5%;
  color: #ff4500;
  font-weight: 700;
  text-align: left;
}

#login {
  width: 40%;
  border-left: solid 0.15vw #ff4500;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#login form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  animation: appear 1s;
}

#login form h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20%;
  font-size: 1.7vw;
  letter-spacing: 0.05vw;
  color: #ff4500;
}

#login form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15%;
}

#login form label span {
  margin-bottom: 5%;
  width: 100%;
  font-size: 1vw;
}

#login form label input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 0.1vw #ff4500;
  padding: 2%;
  font-size: 0.9vw;
}

#login form label input::placeholder {
  color: rgb(185, 185, 185);
}

#login form .submit {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5% 15%;
  outline: none;
  border: none;
  background-color: #ff4500;
  color: #fff;
  font-size: 0.9vw;
  border-radius: 0.3vw;
}

#login form p span {
  font-size: 0.9vw;
  cursor: pointer;
  color: #ff4500;
}

#login #signup-form {
  display: none;
}
