@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #525252;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 1vw;
  letter-spacing: 0.02vw;
  line-height: 1.5vw;
}

body {
  background-image: url("../images/desktop-blob.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2%;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 1.5vw;
  border: solid 0.1vw #ffc0a9;
  backdrop-filter: blur(0.5vw);
}

#user-profile {
  width: 20%;
  height: 80%;
  border-right: solid 0.11vw #ffc0a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#user-profile .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#user-profile .avatar img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin-bottom: 10%;
}

#user-profile .avatar .upload {
  font-size: 0.8vw;
  color: #ff4500;
  cursor: pointer;
}

#user-profile .avatar .upload:hover {
  color: #525252;
}

#user-profile .upload-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5%;

  display: none;
}

#user-profile .upload-image input[type="file"] {
  font-size: 0.7vw;
}

#user-profile .upload-image input[type="submit"] {
  margin-top: 7%;
  padding: 5% 7%;
  font-size: 0.8vw;
  outline: none;
  border: none;
  background-color: #ff4500;
  color: #fff;
  border-radius: 0.3vw;
}

#user-profile .mini-nav {
  margin-top: 10%;
}

#user-profile .mini-nav ul {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#user-profile .mini-nav ul li {
  margin: 15% 0;
  cursor: pointer;
}

#user-profile .mini-nav ul li:hover {
  color: #ff4500;
}

#user-profile .mini-nav .user-logout {
  width: 100%;
  text-align: center;
  margin-top: 5vw;
  cursor: pointer;
  color: #ff4500;
}
#user-profile .mini-nav .user-logout:hover {
  color: #525252;
}

#main-view {
  width: 50%;
  height: 80%;
}

#share-pitch {
  width: 30%;
  height: 80%;
  border-left: solid 0.11vw #ffc0a9;
}
