<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/conversation.png')}}"
    />
  </head>
  <body>
    <main>
      <section id="pitches">
        <h2>
          What do you do if the time for an elevator pitch is too short?
          <span>Jam the elevator! 😂</span>
        </h2>
        <div class="pitch-div">
          <p class="pitch">There are no pithes yet</p>
          <div class="stats">
            <div class="likes">
              <svg aria-hidden="true" role="img" viewBox="0 0 16 16">
                <path
                  fill="#ff4500"
                  d="M9.58 1.052c-.75-.209-1.336.35-1.545.871c-.24.6-.453 1.021-.706 1.524a44.75 44.75 0 0 0-.533 1.09c-.475 1.01-.948 1.656-1.293 2.045a4.063 4.063 0 0 1-.405.402a1.92 1.92 0 0 1-.101.081l-.016.012L3.109 8.18a2 2 0 0 0-.856 2.426l.52 1.384a2 2 0 0 0 1.273 1.205l5.356 1.682a2.5 2.5 0 0 0 3.148-1.68l1.364-4.647a2 2 0 0 0-1.92-2.563H10.61c.066-.227.133-.479.195-.74c.131-.562.243-1.203.232-1.738c-.009-.497-.06-1.019-.264-1.462c-.219-.475-.602-.832-1.192-.996ZM4.978 7.08l-.002.001Z"
                />
              </svg>
              <span>0</span>
            </div>
            <div class="dislikes">
              <svg aria-hidden="true" role="img" viewBox="0 0 16 16">
                <path
                  fill="#ff4500"
                  d="M13.094 4.62a3.5 3.5 0 0 0-4.377-2.727l-4.95 1.375a2 2 0 0 0-1.43 1.558l-.224 1.196c-.165.879.46 1.647 1.157 1.936c.255.106.546.253.853.458c1.68 1.119 2.48 2.636 3.016 3.925c.096.232.188.47.277.699c.146.376.284.73.416 1.001c.111.227.245.455.42.63c.186.188.435.329.748.329c.357 0 .666-.124.912-.34c.235-.207.393-.481.502-.761c.214-.554.281-1.251.29-1.893A14.73 14.73 0 0 0 10.577 10h.512a2.5 2.5 0 0 0 2.457-2.961l-.453-2.42Z"
                />
              </svg>
              <span>0</span>
            </div>
          </div>
          <hr />
        </div>
        <!-- {% if pitches %}
        {% for pitch in pitches %}
        <div class="pitch-div">
          <p class="pitch">{{pitch.content}}</p>
          <div class="stats">
            <div class="likes">
              <svg aria-hidden="true" role="img" viewBox="0 0 16 16">
                <path
                  fill="#ff4500"
                  d="M9.58 1.052c-.75-.209-1.336.35-1.545.871c-.24.6-.453 1.021-.706 1.524a44.75 44.75 0 0 0-.533 1.09c-.475 1.01-.948 1.656-1.293 2.045a4.063 4.063 0 0 1-.405.402a1.92 1.92 0 0 1-.101.081l-.016.012L3.109 8.18a2 2 0 0 0-.856 2.426l.52 1.384a2 2 0 0 0 1.273 1.205l5.356 1.682a2.5 2.5 0 0 0 3.148-1.68l1.364-4.647a2 2 0 0 0-1.92-2.563H10.61c.066-.227.133-.479.195-.74c.131-.562.243-1.203.232-1.738c-.009-.497-.06-1.019-.264-1.462c-.219-.475-.602-.832-1.192-.996ZM4.978 7.08l-.002.001Z"
                />
              </svg>
              <span>0</span>
            </div>
            <div class="dislikes">
              <svg aria-hidden="true" role="img" viewBox="0 0 16 16">
                <path
                  fill="#ff4500"
                  d="M13.094 4.62a3.5 3.5 0 0 0-4.377-2.727l-4.95 1.375a2 2 0 0 0-1.43 1.558l-.224 1.196c-.165.879.46 1.647 1.157 1.936c.255.106.546.253.853.458c1.68 1.119 2.48 2.636 3.016 3.925c.096.232.188.47.277.699c.146.376.284.73.416 1.001c.111.227.245.455.42.63c.186.188.435.329.748.329c.357 0 .666-.124.912-.34c.235-.207.393-.481.502-.761c.214-.554.281-1.251.29-1.893A14.73 14.73 0 0 0 10.577 10h.512a2.5 2.5 0 0 0 2.457-2.961l-.453-2.42Z"
                />
              </svg>
              <span>0</span>
            </div>
          </div>
          <hr />
        </div>
        {% endfor %}
        {% else %} -->
        <!-- <div class="pitch-div">
          <p class="pitch">There are no pithes yet</p>
          <div class="stats">
            <div class="likes">
              <svg aria-hidden="true" role="img" viewBox="0 0 16 16">
                <path
                  fill="#ff4500"
                  d="M9.58 1.052c-.75-.209-1.336.35-1.545.871c-.24.6-.453 1.021-.706 1.524a44.75 44.75 0 0 0-.533 1.09c-.475 1.01-.948 1.656-1.293 2.045a4.063 4.063 0 0 1-.405.402a1.92 1.92 0 0 1-.101.081l-.016.012L3.109 8.18a2 2 0 0 0-.856 2.426l.52 1.384a2 2 0 0 0 1.273 1.205l5.356 1.682a2.5 2.5 0 0 0 3.148-1.68l1.364-4.647a2 2 0 0 0-1.92-2.563H10.61c.066-.227.133-.479.195-.74c.131-.562.243-1.203.232-1.738c-.009-.497-.06-1.019-.264-1.462c-.219-.475-.602-.832-1.192-.996ZM4.978 7.08l-.002.001Z"
                />
              </svg>
              <span>0</span>
            </div>
            <div class="dislikes">
              <svg aria-hidden="true" role="img" viewBox="0 0 16 16">
                <path
                  fill="#ff4500"
                  d="M13.094 4.62a3.5 3.5 0 0 0-4.377-2.727l-4.95 1.375a2 2 0 0 0-1.43 1.558l-.224 1.196c-.165.879.46 1.647 1.157 1.936c.255.106.546.253.853.458c1.68 1.119 2.48 2.636 3.016 3.925c.096.232.188.47.277.699c.146.376.284.73.416 1.001c.111.227.245.455.42.63c.186.188.435.329.748.329c.357 0 .666-.124.912-.34c.235-.207.393-.481.502-.761c.214-.554.281-1.251.29-1.893A14.73 14.73 0 0 0 10.577 10h.512a2.5 2.5 0 0 0 2.457-2.961l-.453-2.42Z"
                />
              </svg>
              <span>0</span>
            </div>
          </div>
          <hr />
        </div> -->
        <!-- {% endif %} -->

        <p class="cta">
          Login or Signup to view more, comment on, or share your pitch!
        </p>
        <span class="arrow"
          ><svg aria-hidden="true" role="img" viewBox="0 0 16 16">
            <path
              fill="#ff4500"
              d="M7.146 13.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8 12.293V2.5a.5.5 0 0 0-1 0v9.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3Z"
            />
          </svg>
        </span>
      </section>
      <section id="login">
        <!-- login form -->
        <form action="{{url_for('login')}}" id="login-form" method="POST">
          <h1>Sign In</h1>
          <label for="l-email">
            <span>Email</span>
            <input
              type="email"
              id="l-email"
              name="l-email"
              placeholder="example@yourdomain.com"
              aria-required="true"
              required
            />
          </label>

          <label for="l-password">
            <span>Password</span>
            <input
              type="password"
              id="l-password"
              name="l-password"
              placeholder="your password"
              aria-required="true"
              required
            />
          </label>

          <input type="submit" value="login" class="submit" />
          <p>
            Don't have an account yet? &nbsp;<span id="signup-toggle">
              Sign Up</span
            >
          </p>
        </form>

        <!-- signup form -->
        <form action="{{url_for('signup')}}" id="signup-form" method="POST">
          <h1>Sign Up</h1>
          <label for="s-name">
            <span>Full Name</span>
            <input
              type="text"
              id="s-name"
              name="s-name"
              placeholder="John Doe"
              aria-required="true"
              required
            />
          </label>
          <label for="s-email">
            <span>Email</span>
            <input
              type="email"
              id="s-email"
              name="s-email"
              placeholder="example@yourdomain.com"
              aria-required="true"
              required
            />
          </label>

          <label for="s-password">
            <span>Password</span>
            <input
              type="password"
              id="s-password"
              name="s-password"
              placeholder="your password"
              aria-required="true"
              required
            />
          </label>

          <input type="submit" value="Sign Up" class="submit" />
          <p>Already a member? &nbsp;<span id="login-toggle"> Sign In</span></p>
        </form>
      </section>
    </main>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
