<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/conversation.png')}}"
    />
  </head>
  <body>
    <main>
      <section id="pitces"></section>
      <section id="login">
        <!-- login form -->
        <form action="" id="login-form">
          <h1>Sign In</h1>
          <label for="l-email">
            <span>Email</span>
            <input
              type="email"
              id="l-email"
              placeholder="example@yourdomain.com"
            />
          </label>

          <label for="l-password">
            <span>Password</span>
            <input
              type="password"
              id="l-password"
              placeholder="your password"
            />
          </label>

          <input type="submit" value="login" class="submit" />
          <p>
            Don't have an account yet? &nbsp;<span id="signup-toggle">
              Sign Up</span
            >
          </p>
        </form>

        <!-- signup form -->
        <form action="" id="signup-form">
          <h1>Sign Up</h1>
          <label for="s-name">
            <span>Full Name</span>
            <input type="text" id="s-name" placeholder="John Doe" />
          </label>
          <label for="email">
            <span>Email</span>
            <input
              type="s-email"
              id="s-email"
              placeholder="example@yourdomain.com"
            />
          </label>

          <label for="s-password">
            <span>Password</span>
            <input
              type="password"
              id="s-password"
              placeholder="your password"
            />
          </label>

          <input type="submit" value="Sign Up" class="submit" />
          <p>Already a member? &nbsp;<span id="login-toggle"> Sign In</span></p>
        </form>
      </section>
    </main>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
