<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/conversation.png')}}"
    />
  </head>
  <body>
    <main>
      <section id="pitces"></section>
      <hr class="divider" />
      <section id="login">
        
      </section>
    </main>
  </body>
</html>
